@use "../../styles/partials/colors" as *;
@import "../../styles/partials/global";

h2,
p {
  padding: 10px;
  background-color: $primary-color-blue;
  border-radius: 10px;
  margin: 5px;
}

h2 {
  background-color: $secondary-color-mercury;
  border-radius: 10px;
  margin: 5px;
}
.logout {
  width: 200px;
}

button {
  width: 200px;
  margin-bottom: 20px;
  padding: 5px;
  cursor: pointer;
}

.chatpage {
  &__main {
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #f5f2ea;
  }
  &__header {
    margin: 40px;
    background: rgba(176, 175, 175, 0.5);
    border: 1px solid #d8d8d8;
  }

  &__group-header-container {
    display: flex;
    justify-content: center;
  }

  &__username-header-container {
    display: flex;
  }

  &__send {
    background: url("../../assets/icons/icons8-send-letter-30.svg"),
      $button-color-new;
    background-repeat: no-repeat;
    background-position: 4px 2px;
    background: rgba(176, 175, 175, 0.5);
    border: 1px solid #d8d8d8;

    border-radius: 10px;
  }

  &__back-button {
    background: url("../../assets/icons/icons8-conversation.svg"),
      rgba(176, 175, 175, 0.5);
    background-repeat: no-repeat;
    background-position: 4px 2px;
    padding-left: 25px;

    border: 1px solid #d8d8d8;

    border-radius: 10px;
  }

  &__messages-main {
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow: scroll;
    border: solid 2px $secondary-color-dark-black;
    padding: 10px;
    background: #fffdfd;
    margin-bottom: 20px;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
  }

  &__message-input-text {
    width: 60vw;
  }
}

.messagelist {
  &__main {
    &--left {
      margin-left: 20px;
      display: flex;
      flex-direction: column;

      align-items: flex-end;
      margin-bottom: 10px;

      padding: 5px;
    }
    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 20px;
      margin-bottom: 10px;

      padding: 5px;
    }
  }

  &__username-timestamp {
    font-size: 15px;
    margin-top: 0;
    padding: 5px;
  }
  &__message {
    margin-bottom: 0;
  }
}
