$primary-color-black: #323232;
$primary-color-blue: #0095ff;
$primary-color-silver: #afafaf;
$primary-color-white: #ffffff;

$secondary-color-dark-black: #000000;
$primary-color-dark-blue: #0065ad;
$secondary-color-mercury: #e1e1e1;
$secondary-color-albaster: #fafafa;

$error-color: #d22d2d;

$tablet-breakpoint: 769px;
$destop-breakpoint: 1280px;
