@use "../../styles/partials/colors" as *;
@import "../../styles/partials/global";

.newuserid-main {
  min-height: 100vh;
  position: relative;

  padding: 20px;
  justify-content: space-between;
  animation: bottom 2s;
  animation-fill-mode: forwards;

  @keyframes bottom {
    from {
      top: 0px;
    }
    to {
      top: 25vh;
    }
  }

  &__sub-container {
    border: solid 2px $secondary-color-dark-black;
    padding: 10px;
    background-color: $background-color;
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  &__display-text {
    padding: 20px;
    font-family: raleway-bold;
    padding-bottom: 20px;
  }

  &__close-container {
    display: flex;
    justify-content: flex-end;
  }
  &__close {
    padding: 20px;

    cursor: pointer;
  }
}
