@use "../../styles/partials/colors" as *;
@import "../../styles/partials/global";

.loginsubmission-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("../../assets//images/LandingPage-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.loginSubmission {
  display: flex;
  flex-direction: column;
  width: 694px;
  height: 694px;

  background-color: rgba(255, 253, 253, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding-top: 0;

  &__button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  &__username {
    font-family: raleway-bold;
  }
  &__password {
    font-family: raleway-bold;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 10vh;
  }
  &__header-text {
    background-color: rgba(255, 253, 253, 1);
    font-family: Calibri;
    font-weight: 400;
    font-size: 20px;
    margin-top: 81px;

    line-height: 24.41px;
  }

  &__header-container {
    display: flex;
    justify-content: center;
  }
  &__username-input {
    width: 563px;
    height: 58px;
    margin-top: 35px;
    font-size: 15px;
    font-family: calibri;
    font-weight: 400;
    line-height: 18.31px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #8b8787;
    border-radius: 10px;
    border: 1px solid #d8d8d8;

    &::placeholder {
      color: rgba(139, 135, 135, 1);
    }

    &-container {
      display: flex;
      justify-content: center;
    }
  }
  &__password-input {
    width: 563px;
    height: 58px;
    margin-top: 35px;
    font-size: 15px;
    font-family: calibri;
    font-weight: 400;
    line-height: 18.31px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;

    color: rgba(139, 135, 135, 1);

    border-radius: 10px;
    border: 1px solid #d8d8d8;

    &::placeholder {
      color: rgba(139, 135, 135, 1);
    }
    &-container {
      display: flex;
      justify-content: center;
    }
  }

  &__login {
    height: 40px;
    min-width: 563px;

    background: rgba(176, 175, 175, 0.5);
    border: 1px solid #d8d8d8;
    font-family: "Calibri";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    border-radius: 10px;
    color: rgba(1, 1, 1, 1);
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 19px;
  }

  &__cancel {
    height: 40px;
    min-width: 563px;

    background: rgba(176, 175, 175, 0.5);
    border: 1px solid #d8d8d8;
    font-family: "Calibri";
    font-style: normal;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    border-radius: 10px;
    color: rgba(1, 1, 1, 1);
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 19px;
  }
}
