@use "../../styles/partials/colors" as *;
@import "../../styles/partials/global";

.loginsubmission-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("../../assets//images/LandingPage-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.loginSubmission {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: solid 2px $secondary-color-dark-black;
  padding: 10px;
  background-color: $background-color-new;

  justify-content: space-between;
  &__button-container {
    display: flex;
    justify-content: space-between;
  }

  &__username {
    font-family: raleway-bold;
  }
  &__password {
    font-family: raleway-bold;
  }

  &__button-container {
    margin-top: 10px;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 10vh;
  }
  &__header-text {
    background-color: whitesmoke;
  }
}

button {
  height: 40px;
  width: 150px;
  background-color: $primary-color-blue;
  font-family: raleway-bold;
}
