@use "../../styles/partials/colors" as *;
@import "../../styles/partials/global";
.user {
  &__table-main {
    margin: 20px;
    background-color: $background-color;
    border: solid 2px $secondary-color-dark-black;
    padding: 10px;
    text-align: center;
  }

  &__header-main {
    margin: 20px;
  }
  &__info-table-row {
    margin: 20px;
  }
  &__user-name {
    padding: 0 20px;
  }

  &__button {
    cursor: pointer;
    width: fit-content;
    margin: 20px;
    padding: 5px;
  }

  &__main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: url("../../assets/images/LandingPage-2.jpeg");
    background-size: cover;
  }
  &__header {
    margin: 20px;
    background-color: $background-color;
    border: solid 2px $secondary-color-dark-black;
    padding: 10px;
  }

  &__button-container {
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }

  &__logout-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

button {
  margin: 20px;
}

td,
th {
  padding: 10px;
}
