@use "../../styles/partials/colors" as *;
@import "../../styles/partials/global";
.user {
  &__table-main {
    min-width: 1289px;
    min-height: 865px;
    margin-top: 90px;

    background: #fffdfd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__add-button {
    background: url("../../assets/icons/icons8-add-30.svg"), $button-color-new;
    background-repeat: no-repeat;
    background-position: 4px 2px;
  }

  &__button-top {
    cursor: pointer;
  }

  &__header-main {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 110px;
  }

  &__header-main-primary {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
  }

  &__table-main-sub {
    margin-top: 0;
    min-height: 276px;
    padding-left: 110px;
  }

  &__search-main {
    margin-left: 130px;
  }
  &__input-field {
    width: 1084px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 18px;
    font-family: "Calibri";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    &::placeholder {
      color: #9b9999;
    }
  }
  &__info-table-row {
    margin: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #fffdfd;
  }
  &__user-name {
  }

  &__table-main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__button {
    cursor: pointer;
    padding-left: 101px;
    padding-top: 36px;
    font-family: "Calibri";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-right: 101px;
  }

  &__main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #f5f2ea;
  }
  &__header {
    margin: 20px;
    font-family: "Calibri";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-left: 221px;
  }

  &__header-section {
    display: flex;
    justify-content: flex-start;

    text-align: center;
    align-items: center;
    align-content: center;
  }
  &__header-groups-connections-container {
    padding-left: 261px;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
  }
  &__header-groups-heading {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #fffdfd;
  }

  &__header-connections-heading {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: #fffdfd;
  }

  &__button-container {
    padding: 0 10px;
    display: flex;
    justify-content: center;
  }

  &__logout-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__header-text {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;

    color: #000000;
    padding-left: 110px;
    background: #fffdfd;
  }

  &__footer-option {
  }

  &__footer-sub-section {
    background: #d8d6d6;
    width: 1289px;
    height: 97px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 5px;
  }

  &__footer-start {
    display: flex;
    justify-content: space-between;
  }

  &__user-name,
  &__user-id,
  &__user-created {
    background-color: #fffdfd;
    padding: 0 50px;

    &-header {
      padding: 0 10px;
    }
  }

  &__user-name {
  }
}

button {
  margin: 20px;
}

h1 {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 10px 20px 10px 10px;
  color: #000000;
}

h2 {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  padding: 10px;
  padding-left: 200px;
  padding-bottom: 0;
}
