@use "../../styles/partials/colors" as *;
@import "../../styles/partials/global";

.logout {
  width: 100px;
  background: url("../../assets/icons/icons8-logout.svg"), $button-color-new;
  background-repeat: no-repeat;
  background-position: 4px 2px;
}
