@use "../../styles/partials/colors" as *;
@import "../../styles/partials/global";

.logout {
  width: 100px;
  background: url("../../assets/icons/icons8-logout.svg"),
    rgba(176, 175, 175, 0.5);
  background-repeat: no-repeat;
  background-position: 4px 2px;
  border: 1px solid #d8d8d8;

  border-radius: 10px;
}
